@model Gateboys.Models.InventoryProduct

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>InventoryProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Catalogues.catalogueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogues.catalogueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.categoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Suppliers.supplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suppliers.supplierName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantityOnHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantityOnHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
    @Html.ActionLink("Back to List", "Index")
</p>